<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Login
        </h3>
      </div>
      <div class="panel-body">
        Use the link in the upper right to login with your google account.
        The only information accessed is your name, email, and photo.
        The privacy of your information is held in the utmost regard.
        All data stored on server is cleared daily.
      </div>
    </div>
  </div>
    <div class="col-xs-4"></div>
  </div>
</div>
